<div class='container'>
  <%= link_to @title %>
  <div class="btn-group btn-group-justified">
    <%= link_to "$0.00 Today", "", class:"btn"%>
    <%= link_to "1Q : $0.00", "", class:"btn"%>
    <%= link_to "2Q : $0.00", "", class:"btn"%>
    <%= link_to "3Q : $0.00", "", class:"btn"%>
    <%= link_to "4Q : $0.00", "", class:"btn"%>
  </div>

  <div class="btn-group btn-group-justified">  
    <%= link_to "Main View", "", class:"btn"%>
    <%= link_to "Calendar View", "", class:"btn"%>
    <%= link_to "Detailed View", "", class:"btn"%>
  </div>

  <table class="table table-bordered">
    <%= render @hotels %>
  </table>
  <%= will_paginate @hotels %>

</div>



