<% if signed_in? %>
  <div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h1>Micropost Feed</h1>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <div class="row">
  <div class="span8">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag("sf.jpg", :size => "1000x600") %>
          <div class="carousel-caption">
            <h4>San Francisco</h4>
            <%= link_to "Courtesy of FunCheapSF", 'https://www.facebook.com/pages/FunCheapSF/327396872503?fref=ts' %>
          </div>
        </div>
        <div class="item">
          <%= image_tag("ny.jpg", :size => "1000x600") %>
          <div class="carousel-caption">
            <h4>New York</h4>
            <%= link_to "Courtesy of NYMag", 'http://nymag.com/thecut/2012/11/more-images-from-new-yorks-sandy-cover.html' %>
          </div>
        </div>
        <div class="item"><%= image_tag("dc.jpg", :size => "1000x600") %>
        <div class="carousel-caption">
            <h4>Washington D.C.</h4>
            <%= link_to "Courtesy of Ian Livingston", 'http://www.flickr.com/photos/ianlivingston/3799179303/' %>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span4">
  </div>
</div>
<% end %>
