<% if signed_in? %>
  <div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h1>Micropost Feed</h1>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <div class="row">
  <div class="span4">
    <div class="hero-unit">
      <ul class="nav-list">
        <li class="nav-header"><h4>Tracking Cities</h4></li>
        <br>
        <li><h4><a href="#newyork">New York</a></h4></li>
        <br>
        <li><h4><a href="#sanfrancisco">San Francisco</a></h4></li>
        <br>
        <li><h4><a href="#washingtondc">Washington D.C.</a></h4></li>
        <br>
        <li><h4><a href="#corvara">Corvara/Cortina</a></h4></li>
        <br>
        <br>
        <h4><%= link_to "Suggest More Cities", 'mailto:thousandsoft@gmail.com' %></h4>
      </ul>
    </div>
  </div>
  <div class="span8">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="hero-unit">
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag("sf.jpg", :size => "1000x600") %>
          <div class="carousel-caption">
            <h4>San Francisco</h4>
            <%= link_to "Courtesy of FunCheapSF", 'https://www.facebook.com/pages/FunCheapSF/327396872503?fref=ts' %>
          </div>
        </div>
        <div class="item">
          <%= image_tag("ny.jpg", :size => "1000x600") %>
          <div class="carousel-caption">
            <h4>New York</h4>
            <%= link_to "Courtesy of NYMag", 'http://nymag.com/thecut/2012/11/more-images-from-new-yorks-sandy-cover.html' %>
          </div>
        </div>
        <div class="item"><%= image_tag("dc.jpg", :size => "1000x600")%>
        <div class="carousel-caption">
            <h4>Washington D.C.</h4>
            <%= link_to "Courtesy of Ian Livingston", 'http://www.flickr.com/photos/ianlivingston/3799179303/' %>
          </div>
        </div>
        <div class="item"><%= image_tag("corvara.jpg", :size => "1000x600") %>

        <div class="carousel-caption">
            <h4>Corvara/Cortina</h4>
            <%= link_to "Courtesy of Hotel Col Alto", 'http://www.colalto.it/photogallery/' %>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>
</div>
<a name="newyork"></a>
<h1>New York</h1>
<ul class="thumbnails">
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("ny-fs.jpg", :size => "320x200") %>`
    <div class="caption">
      <h4>Four Seasons New York</h4>
      <address>
        <strong>Address</strong><br>
        57 East 57th Street<br>
        New York, NY 10022<br>
        <strong>Cross Street: </strong>57th<br>
        <strong>Cross Street: </strong>Park and Madison<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>368<br>
        <strong>Owner: </strong>NA<br>
        <strong>Local Rate: </strong><%= @chargeablerate1ny['@nightlyRateTotal']+" "+@chargeablerate1ny['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate1ny['@nightlyRateTotal']+" "+@convertedrate1ny['@currencyCode'] %><br>        
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("ny-stregis.jpg", :size => "320x200") %>
    <div class="caption">
      <h4>St. Regis New York (HOT)</h4>
      <address>
        <strong>Address</strong><br>
        2 East 55th Street<br>
        New York, NY 10022<br>
        <strong>Cross Street: </strong>55th<br>
        <strong>Cross Street: </strong>Madison and 5th<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>229<br>
        <strong>Owner: </strong>Starwood Hotels (HOT)<br>
        <strong>Local Rate: </strong><%= @chargeablerate2ny['@nightlyRateTotal']+" "+@chargeablerate2ny['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate2ny['@nightlyRateTotal']+" "+@convertedrate2ny['@currencyCode'] %><br>        
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("ny-marriottmarquis.jpg", :size => "320x200") %>`
    <div class="caption">
      <h4>New York Marriott Marquis (HST)</h4>
      <address>
        <strong>Address</strong><br>
        1535 Broadway<br>
        New York, NY 10036<br>
        <strong>Cross Street: </strong>46th<br>
        <strong>Cross Street: </strong>8th and Broadway<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>1957<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate3ny['@nightlyRateTotal']+" "+@chargeablerate3ny['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate3ny['@nightlyRateTotal']+" "+@convertedrate3ny['@currencyCode'] %><br>        
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("ny-wlexington.jpg", :size => "320x200") %> 
    <div class="caption">
      <h4>W New York Lexington (HST)</h4>
      <address>
        <strong>Address</strong><br>
        541 Lexington Avenue<br>
        New York, NY 10022<br>
        <strong>Cross Street: </strong>Lexington<br>
        <strong>Cross Street: </strong>49th and 50th<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>693<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate4ny['@nightlyRateTotal']+" "+@chargeablerate4ny['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate4ny['@nightlyRateTotal']+" "+@convertedrate4ny['@currencyCode'] %><br>        
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("ny-wunionsquare.jpg", :size => "320x200") %> 
    <div class="caption">
      <h4>W New York Union Square (HST)</h4>
      <address>
        <strong>Address</strong><br>
        201 Park Avenue South<br>
        New York, NY 10003<br>
        <strong>Cross Street: </strong>Park Avenue<br>
        <strong>Cross Street: </strong>17th and 18th<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>270<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate5ny['@nightlyRateTotal']+" "+@chargeablerate5ny['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate5ny['@nightlyRateTotal']+" "+@convertedrate5ny['@currencyCode'] %><br>        
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("ny-westingrandcentral.jpg", :size => "320x200") %>
    <div class="caption">
      <h4>Westin New York Grand Central (HST)</h4>
      <address>
        <strong>Address</strong><br>
        212 East 42nd Street<br>
        New York, NY 10017<br>
        <strong>Cross Street: </strong>42nd<br>
        <strong>Cross Street: </strong>2nd and 3rd<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>774<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate6ny['@nightlyRateTotal']+" "+@chargeablerate6ny['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate6ny['@nightlyRateTotal']+" "+@convertedrate6ny['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("ny-marriottdowntown.jpg", :size => "320x200") %> 
    <div class="caption">
      <h4>New York Marriott Downtown (HST)</h4>
      <address>
        <strong>Address</strong><br>
        85 West Street<br>
        New York, NY 10006<br>
        <strong>Cross Street: </strong>West Stret<br>
        <strong>Cross Street: </strong>Albany and Liberty<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>497<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate7ny['@nightlyRateTotal']+" "+@chargeablerate7ny['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate7ny['@nightlyRateTotal']+" "+@convertedrate7ny['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
    <li class="span4">
  <div class="thumbnail">
    <%= image_tag("ny-sheraton.jpg", :size => "320x200") %> 
    <div class="caption">
      <h4>Sheraton New York Times Square Hotel (HST)</h4>
      <address>
        <strong>Address</strong><br>
        811 7th Avenue<br>
        New York, NY 10022<br>
        <strong>Cross Street: </strong>7th Avenue<br>
        <strong>Cross Street: </strong>52nd and 53rd<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>1780<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate8ny['@nightlyRateTotal']+" "+@chargeablerate8ny['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate8ny['@nightlyRateTotal']+" "+@convertedrate8ny['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
</ul>
<a name="sanfrancisco"></a>
<h1>San Francisco</h1>
<ul class="thumbnails">
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("sf-ritz.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>Ritz Carlton San Francisco (HST)</h4>
      <address>
        <strong>Address</strong><br>
        600 Stockton Street<br>
        San Francisco, CA 94108<br>
        <strong>Cross Street: </strong>Stockton<br>
        <strong>Cross Street: </strong>California and Pine<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>336<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate1sf['@nightlyRateTotal']+" "+@chargeablerate1sf['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate1sf['@nightlyRateTotal']+" "+@convertedrate1sf['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("sf-stregis.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>St. Regis San Francisco (HOT)</h4>
      <address>
        <strong>Address</strong><br>
        125 3rd Street<br>
        San Francisco, CA 94103<br>
        <strong>Cross Street: </strong>3rd<br>
        <strong>Cross Street: </strong>Mission and Minna<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>368<br>
        <strong>Owner: </strong>Host Hotels and Resorts<br>
        <strong>Local Rate: </strong><%= @chargeablerate2sf['@nightlyRateTotal']+" "+@chargeablerate2sf['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate2sf['@nightlyRateTotal']+" "+@convertedrate2sf['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("sf-marriottmarquis.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>San Francisco Marriott Marquis (HST)</h4>
      <address>
        <strong>Address</strong><br>
        55 4th Street<br>
        San Francisco, CA<br>
        <strong>Cross Street: </strong>4th<br>
        <strong>Cross Street: </strong>Market and Mission<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>1499<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%#= @chargeablerate3sf['@nightlyRateTotal']+" "+@chargeablerate3sf['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate3sf['@nightlyRateTotal']+" "+@convertedrate3sf['@currencyCode'] %><br>
      </address>
      <br>
      <br>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("sf-marriottfisherman.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>San Francisco Marriott Fisherman's Wharf (HST)</h4>
      <address>
        <strong>Address</strong><br>
        1250 Columbus Avenue<br>
        New York, NY 10022<br>
        <strong>Cross Street: </strong>Columbus<br>
        <strong>Cross Street: </strong>North Point and Bay<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>285<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate4sf['@nightlyRateTotal']+" "+@chargeablerate4sf['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate4sf['@nightlyRateTotal']+" "+@convertedrate4sf['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
</ul>
<a name="washingtondc"></a>
<h1>Washington D.C.</h1>
<ul class="thumbnails">
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("dc-grandhyatt.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>Grand Hyatt Washington (HST)</h4>
      <address>
        <strong>Address</strong><br>
        1000 H Street NW<br>
        Washington D.C.<br>
        <strong>Cross Street: </strong>H Street<br>
        <strong>Cross Street: </strong>10th and 11th<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>888<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate1dc['@nightlyRateTotal']+" "+@chargeablerate1dc['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate1dc['@nightlyRateTotal']+" "+@convertedrate1dc['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("dc-jwmarriott.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>JW Marriott Washington D.C. (HST)</h4>
      <address>
        <strong>Address</strong><br>
        1331 Pennsylvania Avenue NW<br>
        Washington D.C.<br>
        <strong>Cross Street: </strong>Pennsylvania Avenue<br>
        <strong>Cross Street: </strong>13th and 14th<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>772<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate2dc['@nightlyRateTotal']+" "+@chargeablerate2dc['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate2dc['@nightlyRateTotal']+" "+@convertedrate2dc['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("dc-marriottmetrocenter.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>Washington Marriott at Metro Center (HST)</h4>
      <address>
        <strong>Address</strong><br>
        775 12th Street NW<br>
        Washington D.C.<br>
        <strong>Cross Street: </strong>12th<br>
        <strong>Cross Street: </strong>G Street and H Street<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>459<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate3dc['@nightlyRateTotal']+" "+@chargeablerate3dc['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate3dc['@nightlyRateTotal']+" "+@convertedrate3dc['@currencyCode'] %><br>
      </address>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("dc-hyattcapitolhill.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>Hyatt Regency on Capitol Hill (HST)</h4>
      <address>
        <strong>Address</strong><br>
        400 New Jersey Ave NW<br>
        Washington D.C.<br>
        <strong>Cross Street: </strong>New Jersey Avenue<br>
        <strong>Cross Street: </strong>D Street and E Street<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>834<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate4dc['@nightlyRateTotal']+" "+@chargeablerate4dc['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate4dc['@nightlyRateTotal']+" "+@convertedrate4dc['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("dc-westingeorgetown.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>Westin Georgetown, Washington D.C. (HST)</h4>
      <address>
        <strong>Address</strong><br>
        2350 M Street NW<br>
        New York, NY 10022<br>
        <strong>Cross Street: </strong>M Street<br>
        <strong>Cross Street: </strong>23rd Street and 24th Street<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>267<br>
        <strong>Owner: </strong>Host Hotels and Resorts (HST)<br>
        <strong>Local Rate: </strong><%= @chargeablerate4dc['@nightlyRateTotal']+" "+@chargeablerate5dc['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%#= @convertedrate5dc['@nightlyRateTotal']+" "+@convertedrate5dc['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
</ul>

<a name="corvara"></a>
<h1>Corvara/Cortina</h1>
<ul class="thumbnails">
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("corvara-postazirm.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>Posta Zirm</h4>
      <address>
        <strong>Address</strong><br>
        Col Alto, 95<br>
        Corvara in Badia 39033<br>
        <strong>Cross Street: </strong>Strada Col Alt<br>
        <strong>Cross Street: </strong>Strada Rutort and Col Alt<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>NA<br>
        <strong>Owner: </strong>Family Kostner<br>
        <strong>Rate: </strong><br>        
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("corvara-panorama.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>Panorama</h4>
      <address>
        <strong>Address</strong><br>
        Strada Sciuz, 1<br>
        Corvara in Badia 39033<br>
        <strong>Cross Street: </strong>Strada Sciuz<br>
        <strong>Cross Street: </strong>Strada Arlara<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>NA<br>
        <strong>Local Rate: </strong><%= @chargeablerate2['@nightlyRateTotal']+" "+@chargeablerate2['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%= @convertedrate2['@nightlyRateTotal']+" "+@convertedrate2['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("corvara-marmolada.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>Marmolada</h4>
      <address>
        <strong>Address</strong><br>
        Via Col Alt Str. 80<br>
        Corvara in Badia 39033<br>
        <strong>Cross Street: </strong>Strada Col Alt<br>
        <strong>Cross Street: </strong>Strada Burje<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>NA<br>
        <strong>Owner: </strong>Family Costamoling<br>
        <strong>Rate: </strong><br>        
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("corvara-sassongher.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>Sassongher</h4>
      <address>
        <strong>Address</strong><br>
        Strada Sassongher, 45<br>
        Corvara in Badia 39033<br>
        <strong>Cross Street: </strong>Strada Sassongher<br>
        <strong>Cross Street: </strong>Strada Aga<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>NA<br>
        <strong>Owner: </strong>Family Pescosta<br>
        <strong>Rate: </strong><br>        
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("corvara-laperla.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>La Perla</h4>
      <address>
        <strong>Address</strong><br>
        Strada Col Alt, 105<br>
        Corvara in Badia 39033<br>
        <strong>Cross Street: </strong>Strada Col Alt<br>
        <strong>Cross Street: </strong>Strada Rutort and Strada Arlara<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>52<br>
        <strong>Owner: </strong>Family Costa<br>
        <strong>Rate: </strong><br>        
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("corvara-kolfuschgerhof.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>Kolfuschgerhof</h4>
      <address>
        <strong>Address</strong><br>
        Via Ronn 7<br>
        Calfosco di Corvara 39030<br>
        <strong>Cross Street: </strong>Via Ronn<br>
        <strong>Cross Street: </strong>Strada Janin<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>NA<br>
        <strong>Owner: </strong>Family Ebner<br>
        <strong>Local Rate: </strong><%= @chargeablerate1['@nightlyRateTotal']+" "+@chargeablerate1['@currencyCode'] %><br>  
        <strong>Translated Rate: </strong><%= @convertedrate1['@nightlyRateTotal']+" "+@convertedrate1['@currencyCode'] %><br>
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <%= image_tag("corvara-capella.jpg", :size => "300x200") %>
    <div class="caption">
      <h4>Capella</h4>
      <address>
        <strong>Address</strong><br>
        Strada Pecei 17<br>
        Corvara in Badia 39033<br>
        <strong>Cross Street: </strong>Strada Pecei<br>
        <strong>Cross Street: </strong>Strada la Poza and Strada Val<br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong>NA<br>
        <strong>Owner: </strong>Family Pizzinini<br>
        <strong>Rate: </strong><br>        
      </address>
      <%= link_to "More Information", signin_path, class:"btn btn-block"%>
    </div>
  </div>
  </li>
</ul>
<%#= raw(@response1ny.to_json) %>
<%#= raw(@response2.to_json) %>
<%#= raw(@response3.to_json) %>
<%#= raw(@response4.to_json) %>
<%#= raw(@response5.to_json) %>
<%#= raw(@response6.to_json) %>
<%#= raw(@response7.to_json) %>
<% end %>
