<% if signed_in? %>
  <div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h1>Micropost Feed</h1>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <div class="row">
  <div class="span8">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag("sf.jpg", :size => "1000x600") %>
          <div class="carousel-caption">
            <h4>San Francisco</h4>
            <%= link_to "Courtesy of FunCheapSF", 'https://www.facebook.com/pages/FunCheapSF/327396872503?fref=ts' %>
          </div>
        </div>
        <div class="item">
          <%= image_tag("ny.jpg", :size => "1000x600") %>
          <div class="carousel-caption">
            <h4>New York</h4>
            <%= link_to "Courtesy of NYMag", 'http://nymag.com/thecut/2012/11/more-images-from-new-yorks-sandy-cover.html' %>
          </div>
        </div>
        <div class="item"><%= image_tag("dc.jpg", :size => "1000x600")%>
        <div class="carousel-caption">
            <h4>Washington D.C.</h4>
            <%= link_to "Courtesy of Ian Livingston", 'http://www.flickr.com/photos/ianlivingston/3799179303/' %>
          </div>
        </div>
        <div class="item"><%= image_tag("corvara.jpg", :size => "1000x600") %>

        <div class="carousel-caption">
            <h4>Corvara/Cortina</h4>
            <%= link_to "Courtesy of Hotel Col Alto", 'http://www.colalto.it/photogallery/' %>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span4">
    <div id="carousel-text">
      <h1>Tracked Cities</h1>
      <li><h2 class="text-error">New York</h2></li>
      <li><h2 class="text-warning">San Francisco</h2></li>      
      <li><h2 class="text-success">Washington D.C.</h2></li>
      <li><h2 class="text-info">Corvara/Cortina</h2></li>
    </div>
  </div>
</div>
<h1>New York</h1>
<ul class="thumbnails">
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Four Seasons New York</h3>
      <address>
        <strong>Twitter, Inc.</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>

      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>St. Regis New York (HOT)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>New York Marriott Marquis (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>New York Marriott Downtown (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Sheraton New York Times Square Hotel (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Westin New York Grand Central (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>W New York (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>W New York Union Square (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
</ul>
<h1>San Francisco</h1>
<ul class="thumbnails">
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Ritz Carlton San Francisco (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>St. Regis San Francisco (HOT)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>San Francisco Marriott Fisherman's Wharf (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>San Francisco Marriott Marquis (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
</ul>
<h1>Washington D.C.</h1>
<ul class="thumbnails">
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Grand Hyatt Washington (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Hyatt Regency Washington on Capitol Hill (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>JW Marriott Washington D.C. (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Westin Georgetown, Washington D.C. (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Washington Marriott at Metro Center (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
</ul>

<h1>Corvara/Cortina</h1>
<ul class="thumbnails">
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Grand Hyatt Washington (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Hyatt Regency Washington on Capitol Hill (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>JW Marriott Washington D.C. (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Westin Georgetown, Washington D.C. (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
  <li class="span4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x200" alt="ALT NAME">
    <div class="caption">
      <h3>Washington Marriott at Metro Center (HST)</h3>
      <p>Description</p>
      <p align="center"><a href="http://bootsnipp.com/" class="btn btn-primary btn-block">Open</a></p>
    </div>
  </div>
  </li>
</ul>
<% end %>
