<% if signed_in? %>
  <div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h1>Micropost Feed</h1>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <% @hash.each do |key, value| %>
  <a name=<%= key.gsub(/\s+/,"")%>></a>
<h1><%= key %></h1>
<ul class="thumbnails">
  <% value.each do |hotel| %>
    <li class="span4">
  <div class="thumbnail">
    <%= image_tag(hotel.image, :size => "320x200") %>`
    <div class="caption">
      <h4><%= hotel.name %></h4>
      <address>
        <strong>Address</strong><br>
        <%= hotel.address %><br>
        <%= hotel.city + ", "+ hotel.country %>&nbsp;
        <%= hotel.zipcode.to_s %><br>
        <strong>Cross Street: </strong><%= hotel.mainstreet %><br>
        <strong>Cross Street: </strong><%= hotel.crossstreet %><br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong><%= hotel.key %><br>
        <strong>Owner: </strong><%= hotel.owner %><br>
      </address>
      <%= link_to "Track / Follow", signin_path, class:"btn btn-block btn-info"%>
      <br>
      <table class="table-condensed table-bordered table-striped">
        <th colspan="7" >
          <a class="btn"><i class="icon-chevron-left"></i></a>
          <a class="btn">June 2013</a>
          <a class="btn"><i class="icon-chevron-right"></i></a>
        </th>
        <tbody>
        <% hotel.prices.each do |price| %>
          <tr>
            <td class="muted">
            <%= price.date_for %>
          </td>
          <td>
            <%= price.rate %><br>
          </td>
        </tr>
      <% end %>
        </tbody>
      </table>
      <%= render 'shared/calendar' %>     
    </div>
  </div>
  </li>
<% end %>   
</ul>
<hr>
<% end %>
<% end %>

