<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render(user_signed_in? ? 'shared/top_loggedin' : 'shared/top_main') %>
    </div>
    <div class="col-md-10">
      <%= render(user_signed_in? ? 'shared/to_loggedin' : 'shared/to_main') %>
      <br>
      <%= render(user_signed_in? ? 'shared/subject_loggedin' : 'shared/subject_main') %>
    </div>
  </div>


  <div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= render 'shared/body_map' %>
        </div>
        <div class="item">
          <%= render 'shared/body_picture' %>
        </div>
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      </ol>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
    <div class="row">
        <%= render(user_signed_in? ? 'shared/message_loggedin' : 'shared/message_main') %>
    </div>
  <div class="row">
    <div class="col-md-6">
      <%= render 'microposts/send_nondisappearing' %>
    </div>
    <div class="col-md-6">
      <%= render 'microposts/send_disappearing' %>
    </div>
  </div>
  <hr>
  <div class="row">
    <h4>Leaderboard (Normal Messages)</h4>
  </div>
  <% @mostly_connected.in_groups_of(3,false).each_with_index do |mostly_connected, index| %>
    <div class="row">
    <div class="btn-group btn-group-justified">        
      <% mostly_connected.each do |user| %>
        <%= link_to gravatar_for(user,size: 100)+"#{user.name} (#{user.connections_count} pt)", user, class: "btn"%>
      <%#= link_to "#{index + 1}. #{user.name} (#{user.connections_count} pt)", user, class: "btn"%>
    <% end %>
    </div>
  </div>
<% end %>



