<% if signed_in? %>
  <div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h1>Micropost Feed</h1>
    <%= render 'shared/feed' %>
  </div>
</div>
<% else %>
  <div class="row">
  <div class="span4">
    <div class="hero-unit">
      <ul class="nav-list">
        <li class="nav-header"><h4>Tracking Cities</h4></li>
        <br>
        <li><h4><a href="#NewYork">New York</a></h4></li>
        <br>
        <li><h4><a href="#SanFrancisco">San Francisco</a></h4></li>
        <br>
        <li><h4><a href="#WashingtonDC">Washington D.C.</a></h4></li>
        <br>
        <li><h4><a href="#Corvara/Cortina">Corvara/Cortina</a></h4></li>
        <br>
        <br>
        <h4><%= link_to "Suggest More Cities", 'mailto:thousandsoft@gmail.com' %></h4>
      </ul>
    </div>
  </div>
  <div class="span8">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="hero-unit">
        <div class="carousel-inner">
          <div class="active item">
            <%= image_tag("sf.jpg", :size => "1000x600") %>
            <div class="carousel-caption">
              <h4>San Francisco</h4>
              <%= link_to "Courtesy of FunCheapSF", 'https://www.facebook.com/pages/FunCheapSF/327396872503?fref=ts' %>
            </div>
          </div>
          <div class="item">
            <%= image_tag("ny.jpg", :size => "1000x600") %>
            <div class="carousel-caption">
              <h4>New York</h4>
              <%= link_to "Courtesy of NYMag", 'http://nymag.com/thecut/2012/11/more-images-from-new-yorks-sandy-cover.html' %>
            </div>
          </div>
          <div class="item"><%= image_tag("dc.jpg", :size => "1000x600")%>
          <div class="carousel-caption">
              <h4>Washington D.C.</h4>
              <%= link_to "Courtesy of Ian Livingston", 'http://www.flickr.com/photos/ianlivingston/3799179303/' %>
            </div>
          </div>
          <div class="item"><%= image_tag("corvara.jpg", :size => "1000x600") %>

          <div class="carousel-caption">
              <h4>Corvara/Cortina</h4>
              <%= link_to "Courtesy of Hotel Col Alto", 'http://www.colalto.it/photogallery/' %>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</div>
<% @hash.each do |key, value|  %>
  <a name=<%= key.gsub(/\s+/,"")%>></a>
<h1><%= key %></h1>
<ul class="thumbnails">
  <% value.each do |hotel| %>
    <li class="span4">
  <div class="thumbnail">
    <%= image_tag(hotel.image, :size => "320x200") %>`
    <div class="caption">
      <h4><%= hotel.name %></h4>
      <address>
        <strong>Address</strong><br>
        <%= hotel.address %><br>
        <%= hotel.city + ", "+ hotel.country %>&nbsp;
        <%= hotel.zipcode.to_s %><br>
        <strong>Cross Street: </strong><%= hotel.mainstreet %><br>
        <strong>Cross Street: </strong><%= hotel.crossstreet %><br>
      </address>
      <address>
        <strong>Rooms/Keys: </strong><%= hotel.key %><br>
        <strong>Owner: </strong><%= hotel.owner %><br>
      </address>
      <%= link_to "Track / Follow", signin_path, class:"btn btn-block btn-info"%>
      <br>
      <strong>Local Rate: </strong><%#= @chargeablerate1ny['@nightlyRateTotal']+" "+@chargeablerate1ny['@currencyCode'] %><br>  
      <strong>Translated Rate: </strong><%#= @convertedrate1ny['@nightlyRateTotal']+" "+@convertedrate1ny['@currencyCode'] %><br>        
      <%= render 'shared/pricematrix' %>
      <%= render 'shared/calendar' %>     
    </div>
  </div>
  </li>
<% end %>   
</ul>
<hr>
<% end %>


<%= raw(@output) %>
<%#= raw(@response2.to_json) %>
<%#= raw(@response3.to_json) %>
<%#= raw(@response4.to_json) %>
<%#= raw(@response5.to_json) %>
<%#= raw(@response6.to_json) %>
<%#= raw(@response7.to_json) %>
<% end %>

