<div class="container">
  <div class="row">
    <div class="btn-group btn-group-justified">
    <%= link_to "Stanford", stanford_path, class:"btn"%>
    <%= link_to "San Francisco", sf_path, class:"btn"%>
    <%= link_to "Las Vegas", lv_path, class:"btn"%>
    <%= link_to "New York", nyc_path, class:"btn", id:"countryLabel"%>
    </div>
  </div>
  <div class="row">
    <div class="thumbnail" id="world-map" style="height: 400px"></div>
  </div>
  <div class="row">
    <div class="btn-group btn-group-justified">
    <%= link_to "HST", hst_path, class:"btn"%>
    <%= link_to "DRH", drh_path, class:"btn"%>
    <%= link_to "SHO", sho_path, class:"btn"%>
    <%= link_to "LHO", sho_path, class:"btn"%>    
    <%= link_to "BEE", bee_path, class:"btn"%>
    <%= link_to "PEB", peb_path, class:"btn"%>
    <%= link_to "CHSP", chsp_path, class:"btn"%>
    <%= link_to "MGM", mgm_path, class:"btn"%>
    <%= link_to "LVS", lvs_path, class:"btn"%>
    <%= link_to "WYNN", wynn_path, class:"btn"%>
    <%= link_to "CZR", czr_path, class:"btn"%>
    </div>
  </div>
</div>
<script>
$(function(){
  var map,
  markerIndex = 0,
  markersCoords = {};

  map = new jvm.WorldMap({<D-s>
    map: 'world_mill_en',
    regionsSelectable: true,
    regionStyle: {
      initial: {
        fill: 'white'
      },
      selected: {
        fill: '#2E8B57'
      }
    },
    container: $('#world-map'),
    onRegionClick: showMenu,
    onRegionSelected: showLocation
  });
  map.setSelectedRegions( JSON.parse( window.localStorage.getItem('jvectormap-selected-regions') || '[]' ) );
});

function showMenu(e, code){
  if (window.localStorage) {
    $('#countryLabel').text(code);
    $("#countryURL").attr("href", code);
  }
}

function showLocation(e, code, isSelected, selectedRegions){
  if (window.localStorage) {
    window.localStorage.setItem(
      'jvectormap-selected-regions',
      JSON.stringify(selectedRegions)
    );
  }
}

</script>
