<div class='container'>
  <div class="btn-group btn-group-justified">
    <%= link_to @title + " : " + average_price(@hotels), "", class:"btn"%>
    <%= link_to "1Q : " + average_price(@hotels, '1Q'), "", class:"btn"%>
    <%= link_to "2Q : " + average_price(@hotels, '2Q'), "", class:"btn"%>
    <%= link_to "3Q : " + average_price(@hotels, '3Q'), "", class:"btn"%>
    <%= link_to "4Q : " + average_price(@hotels, '4Q'), "", class:"btn"%>
  </div>

  <div class="btn-group btn-group-justified">  
    <%= link_to "Main View", "", class:"btn"%>
    <%= link_to "Calendar View", "", class:"btn"%>
    <%= link_to "Detailed View", "", class:"btn"%>
  </div>

  <table class="table table-bordered">
    <%= render 'hotels/hotels', hotels: @hotels %>
  </table>

  <%= will_paginate @hotels %>

</div>



