<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @user, :url => '/auth/identity/register' do |f| %>
      <%= @user.inspect %>
    <h1>Create an Account</h1>
    <%# specify :input_html to avoid params nesting %>
    <%= f.input :name, :input_html => {:name => 'name'} %>
    <%= f.input :email, :input_html => {:name => 'email'} %>
    <%= f.input :password, :as => 'password', :input_html => {:name => 'password'} %>
    <%= f.input :password_confirmation, :label => "Confirm Password", :as => 'password', :input_html => {:name => 'password_confirmation'} %>
    <button type='submit'>Sign Up</button>
  <% end %> 
  </div>
</div>
