<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
      <%= render 'follow_form' if signed_in? %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= link_to "Add Users", users_path, class: "btn btn-large" if @user == current_user %>
      <%= link_to "Add Hotels", hotels_path, class: "btn btn-large" if @user == current_user %>
    </section>
  </aside>
  <div class="span8">
    <h1>All prices</h1>
    <ul class="hotels">
      <%= render 'shared/hotelfeed' %>
    </ul>
  </div>
</div>
