<% provide(:title, @user.name) %>

<div class="container">
  <div class="btn-group btn-group-justified">
    <% today = Date.today %>
    <%= link_to @title + " : " + average_price(@hotels), params.merge(day_start: today), class:"btn"%>
    <%= link_to "1Q : " + average_price(@hotels, '1Q'), params.merge(day_start: today.change(month: 1, day: 1)), class:"btn"%>
    <%= link_to "2Q : " + average_price(@hotels, '2Q'), params.merge(day_start: today.change(month: 4, day: 1)), class:"btn"%>
    <%= link_to "3Q : " + average_price(@hotels, '3Q'), params.merge(day_start: today.change(month: 7, day: 1)), class:"btn"%>
    <%= link_to "4Q : " + average_price(@hotels, '4Q'), params.merge(day_start: today.change(month: 10, day: 1)), class:"btn"%>
  </div>

  <div class="btn-group btn-group-justified">
    <%= link_to "Main View", "", class:"btn"%>
    <%= link_to "Chart View", "", class:"btn"%>
    <%= link_to "Detailed View", "", class:"btn"%>
  </div>

  <table class="table table-bordered">
    <%= render 'shared/summary' %>
  </table>
</div>
