<div class="thumbnail" style="height: 400px">
  <div id="world-map" style="height: 400px"></div>
</div>
<div class="carousel-caption">
  <%= link_to "Select Specific Place >>>", root_path, class: "btn btn-link", id:"countryLabel" %>...
</div>

<script>

var App = {};

$(function(){
  var map,
  markerIndex = 0,
  markersCoords = {};

  map = new jvm.WorldMap({
    map: 'world_mill_en',
    markers: [
      {latLng: [40, -73], name: 'New York', code: "<%=j 'New York'.parameterize %>"},
      {latLng: [37, -122], name: 'San Francisco', code: "<%=j 'San Francisco'.parameterize %>"},
      {latLng: [34, -118], name: 'Los Angeles', code: "<%=j 'Los Angeles'.parameterize %>"},
      {latLng: [36, -115], name: 'Las Vegas', code: "<%=j 'Las Vegas'.parameterize %>"},
      {latLng: [41, -87], name: 'Chicago', code: "<%=j 'Chicago'.parameterize %>"},
      {latLng: [42, -71], name: 'Boston', code: "<%=j 'Boston'.parameterize %>"},
      {latLng: [38, -77], name: 'Washington DC', code: "<%=j 'Washington DC'.parameterize %>"},
      {latLng: [29, -90], name: 'New Orleans', code: "<%=j 'New Orleans'.parameterize %>"},
      {latLng: [25, -80], name: 'Miami Beach', code: "<%=j 'Miami Beach'.parameterize %>"},                  
    ],

    regionsSelectable: true,
    regionStyle: {
      initial: {
        fill: 'white'
      },
      selected: {
        fill: '#2E8B57'
      }
    },
    markersSelectable: true,
    markerStyle: {
      initial: {
        fill: 'white'
      },
      selected: {
        fill: '#2E8B57'
      }
    },
    container: $('#world-map'),
    onRegionClick: showMenuLocation,
    onRegionSelected: showLocation,
    onMarkerClick: showMenuCity,
    onMarkerSelected: showCity
  });
  App.map = map;
  map.setSelectedRegions( JSON.parse( window.localStorage.getItem('jvectormap-selected-regions') || '[]' ) );
  map.setSelectedMarkers( JSON.parse( window.localStorage.getItem('jvectormap-selected-markers') || '[]' ) );

  var label = $('#countryLabel');
  label.text("Select Specific Place From NYC >>>");
  label.attr('href', "/cities/nyc");
});

function showMenuLocation(e, code){
  if (window.localStorage) {
    var label = $('#countryLabel');
    label.text("Select Specific Place From "+code+" >>>");
    label.attr('href', "/countries/" + code);
  }
}

function showLocation(e, code, isSelected, selectedRegions){
  if (window.localStorage) {
    window.localStorage.setItem(
      'jvectormap-selected-regions',
      JSON.stringify(selectedRegions)
    );
  }
}

function showMenuCity(e, value){
  if (window.localStorage) {
    var marker = App.map.markers[value];
    var name = marker.config.name;
    var code = marker.config.code;
    var label = $('#countryLabel');

    label.text("Select Specific Place From"+name + " >>>");
    label.attr('href', "/cities/" + code);
  }
}

function showCity(e, code, isSelected, selectedMarkers){
  if (window.localStorage) {
    window.localStorage.setItem(
      'jvectormap-selected-regions',
      JSON.stringify(selectedMarkers)
    );
  }
}
</script>
