<div class="thumbnail" style="height: 400px">
  <div class="btn-group btn-group-justified">
    <%= link_to "HST", hst_path, class:"btn"%>
    <%= link_to "DRH", drh_path, class:"btn"%>
  </div>
  <br>
  <div class="btn-group btn-group-justified">
    <%= link_to "SHO", sho_path, class:"btn"%>
    <%= link_to "LHO", lho_path, class:"btn"%>
  </div>
  <br>
  <div class="btn-group btn-group-justified">
    <%= link_to "BEE", bee_path, class:"btn"%>
    <%= link_to "PEB", peb_path, class:"btn"%>
  </div>
  <br>
  <div class="btn-group btn-group-justified">
    <%= link_to "CHSP", chsp_path, class:"btn"%>
    <%= link_to "AHP", ahp_path, class:"btn" %>
  </div>
  <br>
  <div class="btn-group btn-group-justified">
    <%= link_to "AHT", aht_path, class:"btn" %>
    <%= link_to "RLJ", rlj_path, class:"btn" %>
  </div>
  <br>
  <div class="btn-group btn-group-justified">
    <%= link_to "FCH", fch_path, class:"btn" %>
    <%= link_to "HT", ht_path, class:"btn" %>
  </div>
  <br>
  <div class="btn-group btn-group-justified">
    <%= link_to "HPT", hpt_path, class:"btn" %>
    <%= link_to "MGM", mgm_path, class:"btn"%>
  </div>
  <br>
  <div class="btn-group btn-group-justified">
    <%= link_to "LVS", lvs_path, class:"btn"%>
    <%= link_to "WYNN", wynn_path, class:"btn"%>
  </div>
  <br>
  <div class="btn-group btn-group-justified">      
    <%= link_to "CZR", czr_path, class:"btn"%>
  </div>
</div>
<div class="carousel-caption">
</div>
