<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <%#= image_tag(hotel.image, :size => "320x200") %>
    <%= image_tag("http://placehold.it/200x150", :size => "300x200") %>    
    <%= link_to "Add Picture", hotel, class: "btn btn-default btn-block" %>
    <div class="caption">
      <h4><%= hotel.name %></h4>
      <table class="table col-sm-5 col-md-2">
        <thead>
          <tr>
            <th>Date</th>
            <th>Price</th>
          </tr>
        </thead>
        <% (@day_start...@day_start + 7.days).each do |date| %>
        <tbody>        
          <tr>
          <td><%= date %></td>
          <td><% price = hotel.prices.find_by_date_for(date) %>
          <%= decorate_price(price ? price.rate : nil) %>
          </td>
        </tr>
        </tbody>
      <% end %>
      </table>
      <%= render 'hotels/connect_form', hotel: hotel  %>
      <div class="btn-group btn-group-justified">
        <%= link_to "Summary", hotel, class: "btn" %>
        <%= link_to "Details", hotel, class: "btn" %>
      </div>
    </div>
  </div>
</div>

