<li class="span4">
<div class="thumbnail">
  <%= image_tag(hotel.image, :size => "320x200") %>`
  <div class="caption">
    <h4><%= hotel.name %></h4>
    <address>
      <strong>Address</strong><br>
      <%= hotel.address %><br>
      <%= hotel.city + ", "+ hotel.country %>&nbsp;
      <%= hotel.zipcode.to_s %><br>
      <strong>Cross Street: </strong><%= hotel.mainstreet %><br>
      <strong>Cross Street: </strong><%= hotel.crossstreet %><br>
    </address>
    <address>
      <strong>Rooms/Keys: </strong><%= hotel.key %><br>
      <strong>Owner: </strong><%= hotel.owner %><br>
    </address>
    <%= link_to "Track / Follow", hotel, class:"btn btn-block btn-info"%>
  </div>
</div>
</li>
