<tr>
  <td>
    <%#= image_tag(hotel.image, :size => "50x50") %>
    <%= hotel.name %>
    <br>
    <%= hotel.address + " / " + hotel.city + " " + hotel.zipcode.to_s %>        
  </td>
  <td>
    <%= %>
    <%#= hotel.mainstreet %>
    <%#= hotel.crossstreet %>
    <%#= hotel.key %>
    <%#= hotel.owner %>
  </td>
  <% 7.times do |i| %>
    <td>
      <% price = hotel.prices.find_by_date_for(Date.today + i.day) %>
      <%= decorate_price(price ? price.rate : nil) %>
    </td>
  <% end %>
  <td>
    <%= render 'hotels/connect_form', hotel: hotel  %>
    <%= link_to "Details", hotel %>
  </td>
</tr>
