<tr>
  <td>
    <%#= image_tag(hotel.image, :size => "50x50") %>
    <%= hotel.name %>
    <br>
    <%= hotel.address + hotel.city + hotel.zipcode.to_s  %>        
  </td>
  <td>
    <% price = Price.find_all_by_date_for_and_hotel_id(@price.date_for,hotel_id) %>
  </td>


  </td>
  <td>
    <%= %>
    <%#= hotel.mainstreet %>
    <%#= hotel.crossstreet %>
    <%#= hotel.key %>
  </td>
  <td>
    <%= hotel.owner %>
  </td>
  <td>
    <%= link_to "Track / Follow", hotel, class:"btn btn-info"%>
  </td>
</tr>
