<tr>
  <td>
    <%= image_tag(hotel.image, :size => "50x50") %>`
  </td>
  <td>
    <%= hotel.name %>
  </td>
  <td>
    <%= hotel.address %>    
  </td>
  <td>
    <%= hotel.city %>
  </td>
  <td>
    <%#= hotel.zipcode.to_s %>
    <%#= hotel.mainstreet %>
    <%#= hotel.crossstreet %>
    <%#= hotel.key %>
  </td>
  <td>
    <%= hotel.owner %>
  </td>
  <td>
    <%= link_to "Track / Follow", hotel, class:"btn btn-info"%>
  </td>
</tr>
