<table class="table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="7" >
        <a class="btn"><i class="icon-chevron-left"></i></a>
        <a class="btn">June 2013</a>
        <a class="btn"><i class="icon-chevron-right"></i></a>
      </th>
    </tr>
    <tr>
      <th colspan="2"><strong>Friday</strong></th>
      <th colspan="2"><strong>Saturday</strong></th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td class="muted"><%= @firstDate.to_formatted_s(:short) %></td>
    <td>100</td>
    <td class="muted"><%= @secondDate.to_formatted_s(:short) %></td>
    <td>200</td>    
  </tr>
  <tr>
    <td class="muted"><%= @firstDate.to_formatted_s(:short) %></td>
    <td>100</td>
    <td class="muted"><%= @secondDate.to_formatted_s(:short) %></td>
    <td>200</td>    
  </tr>
  <tr>
    <td class="muted"><%= @firstDate.to_formatted_s(:short) %></td>
    <td>100</td>
    <td class="muted"><%= @secondDate.to_formatted_s(:short) %></td>
    <td>200</td>    
  </tr>
  <tr>
    <td class="muted"><%= @firstDate.to_formatted_s(:short) %></td>
    <td>100</td>
    <td class="muted"><%= @secondDate.to_formatted_s(:short) %></td>
    <td>200</td>    
  </tr>
  </tbody>
</table>
