<% price = Price.for_date_and_hotel(firstDate, summary_price).first %>

<td>
  <% unless (price.id rescue nil).nil? || (price.rate rescue nil).nil? %>
    <%= link_to image_tag(summary_price.image, :size => "50x50"), historical_price_path(price.id) %>
    <%= link_to summary_price.name, historical_price_path(price.id) %>  
    <%= link_to number_to_currency(price.rate) %>
  <% else %>
    <%= link_to image_tag(summary_price.image, :size => "50x50") %>
    <%= link_to summary_price.name%>  
    <%= link_to number_to_currency(0.0) %>
  <% end %>
</td>
    
