<ul class="nav navbar-right">
  <%= link_to gravatar_for(current_user, size: 50), user_path(current_user) %>
  <div class="btn btn btn-large dropdown-toggle" data-toggle="dropdown", id:"logo"><%=current_user.name%><b class="caret"></b></div>
  <ul class="dropdown-menu">
    <li><%= link_to "Add Users", users_path, class: "btn btn btn-link" %></li>
    <li><%= link_to "Add Hotels", hotels_path, class: "btn btn btn-link" %></li>
    <li><%= link_to "Settings", edit_user_registration_path, class: "btn btn-link" %></li>
    <li><%= link_to "Sign/Out", destroy_user_session_path, method: "delete", class: "btn btn-link" %></li>
  </ul>
</ul>