<div class="span1">
  <span class="rate"><%= price.date_for.strftime("%a") %></span>
  <span class="rate"><%= price.date_for.strftime("%b %e") %></span>    
  <span class="rate"><h5>$<%= link_to price.rate, price.hotel %></h5></span>
  <span class="timestamp">
    <%= time_ago_in_words(price.updated_at) %>
  </span>
  <% if current_user.admin == TRUE %>
    <%= link_to "Delete", price, method: :delete,
      data: { confirm: "You sure?" },
      title: price.rate %>
  <% end %>
      <hr>
    </div>

