<% provide(:title, @title) %>
<div class="container">
<h1>Detailed Prices</h1>
<%#= link_to image_tag(@hotel.image, :size => "40x25"), @hotel %>
<ol class="prices">
  <%= render 'shared/historical' %>
</ol>
<ol class="prices">
  <%= render 'shared/historical' %>
</ol>
<ol class="prices">
  <%= render 'shared/historical' %>
</ol>
<h1>Price Chart</h1>
<%= render 'shared/chart' %>
<h1>Price Calendar</h1>
<%= render 'shared/calendar' %>
</div>
