<% provide(:title, @title) %>
<h1>Detailed Prices</h1>
<%#= link_to image_tag(@hotel.image, :size => "40x25"), @hotel %>
<h2>Price Calendar</h2>
<%= render 'shared/calendarjava' %>
<h2>Price Chart</h2>
<%= image_tag("kayak.png") %>
<h2>Price Details</h2>
<ol class="prices">
  <%= render 'shared/historical' %>
</ol>
<ol class="prices">
  <%= render 'shared/historical' %>
</ol>
<ol class="prices">
  <%= render 'shared/historical' %>
</ol>


