<%= form_for(@micropost) do |f| %>
  <div class="field">
    <%= f.text_field :to, :value => :to %>
    <%= f.text_field :subject, :value => :subject %>
    <%= f.text_area :message, :value => :message %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>
