<% provide(:title, 'All hotels') %>
<div class="container">
  <h1>All hotels</h1>
  <% if current_user.admin == TRUE %>
    <%= form_tag import_hotels_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Load from CSV", class: "btn btn-link" %>
      <%= link_to "Export to CSV", hotels_path(format: "csv"), class: "btn btn-link" %>
  <% end %>
  <% end %>
  <ul class="thumbnails">
    <%= render @hotels %>
  </ul>
  <%= will_paginate @hotels %>
</div>

