<% provide(:title, 'Hotel Directory') %>
<div class="container">
  <% if current_user.admin == TRUE %>
    <div class="btn-group btn-group-justified">
    <%= link_to "Export Database to CSV", hotels_path(format: "csv"), class: "btn" %>
    </div>
    <%= form_tag import_hotels_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Load Database from CSV", class: "btn" %>
    <% end %>
  <% end %>
  <table class="table table-bordered">
    <%= render @hotels %>
  </table>
  <%= will_paginate @hotels %>
</div>

