<% provide(:title, @hotel.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= image_tag(@hotel.image, :size => "160x100") %>`
      <h1>
        <%= @hotel.name %>
        <%= render 'connect_form' if signed_in? %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <% if @hotel.prices.any? %>
      <h1>Prices (<%= @hotel.prices.count %>)</h1>
      <%= will_paginate @prices %>
      <ol class="prices">
        <%= render @prices %>
      </ol>
      <%= will_paginate @prices %>
    <% end %>
  </div>
</div>
