<div class="container">
  <footer class="footer"> 
      <%= link_to image_tag("facebookbig.png", alt: "Facebook") + "Facebook Page", 'https://www.facebook.com/thousandsoft', id:"footerleft" %>
      <%= link_to image_tag("twitterbig.png", alt: "Twitter") + "Twitter Page", 'https://www.twitter.com/thousandsoft', id:"footerleft" %>
      <%= link_to image_tag("emailbig.png", alt: "Email") + "Email Page", 'mailto:thousandsoft@gmail.com', id:"footerleft" %> 
      <%= link_to "Hotel Collection", statichotels_path, id:"footerleft" %>
      <%= link_to "Mission Statement", staticblurb_path, id:"footerleft" %>    
      <%= link_to "ThousandSoft", staticcontact_path, id:"footerright" %>
    </footer>
</div>

