<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav">
        <%= link_to "Stanford | San Francisco | Silicon Valley", root_path, id: "logo" %></div>
      <div class="nav pull-right">
        <li><%= link_to image_tag("facebook.png", alt: "Facebook"), 'https://www.facebook.com/thousandsoft' %></li>
        <li><%= link_to image_tag("twitter.png", alt: "Twitter"), 'https://www.twitter.com/thousandsoft' %></li>
        <li><%= link_to image_tag("email.png", alt: "Email"), 'mailto:thousandsoft@gmail.com' %></li>
      </div>
    </div>
  </div>
</header>
  <div class="container">
    <div class="well">
      <h1> ThousandSoft - From Entrepreneurs to Startups</h1>
      <% if signed_in? %>
        <br>
        <%= link_to "Users", users_path, class: "btn btn-large" %>
        <%= link_to "Profile", current_user, class: "btn btn-large" %>
        <%= link_to "Settings", edit_user_path(current_user), class: "btn btn-large" %>
         <%= link_to "Sign out", signout_path, method: "delete", class: "btn btn-large btn-success pull-right" %>
    <% else %>
        <%= link_to "Login To Your Account", signin_path, class: "btn btn-large btn" %>
        <%= link_to "Create Your Account", signup_path, 
          class: "btn btn-large btn-success pull-right" %> 
      <% end %>
      </div>
    </div>
  </div>

