<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav">
        <%= link_to "THOUSANDSOFT", root_path, id: "logo" %>
      </div>
      <div class="nav pull-right">
        <%= link_to image_tag("facebook.png", alt: "Facebook"), 'https://www.facebook.com/thousandsoft', class: "pull-right"  %>
        <%= link_to image_tag("twitter.png", alt: "Twitter"), 'https://www.twitter.com/thousandsoft', class: "pull-right"  %>
        <%= link_to image_tag("email.png", alt: "Email"), 'mailto:thousandsoft@gmail.com', class: "pull-right"  %>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="well">
    <% if user_signed_in? %>
      <%= render 'shared/top_loggedin' %> 
    <% else %>
      <%= render 'shared/top_main' %> 
    <% end %>
  </div>
</div>

